**/.DS_Store
**/node_modules
impl/projects/xyna/src/app/zeta
impl/projects/xyna/src/app/xfm/acm
impl/projects/xyna/src/app/xfm/factorymanager
impl/projects/xyna/src/app/xfm/processmodeller
impl/projects/xyna/src/app/xfm/processmonitor
impl/projects/xyna/src/app/xfm/testfactory
impl/projects/xyna/src/app/xfm/yggdrasil
