[submodule "impl/projects/xyna/src/app/zeta"]
	path = impl/projects/xyna/src/app/zeta
	url = https://github.com/Xyna-Factory/xyna-zeta.git
[submodule "impl/projects/xyna/src/app/xfm/process-modeller"]
	path = impl/projects/xyna/src/app/xfm/processmodeller
	url = https://github.com/Xyna-Factory/xyna-process-modeller.git
[submodule "impl/projects/xyna/src/app/xfm/process-monitor"]
	path = impl/projects/xyna/src/app/xfm/processmonitor
	url = https://github.com/Xyna-Factory/xyna-process-monitor.git
[submodule "impl/projects/xyna/src/app/xfm/factory-manager"]
	path = impl/projects/xyna/src/app/xfm/factorymanager
	url = https://github.com/Xyna-Factory/xyna-factory-manager.git
[submodule "impl/projects/xyna/src/app/xfm/test-factory"]
	path = impl/projects/xyna/src/app/xfm/testfactory
	url = https://github.com/Xyna-Factory/xyna-test-factory.git
[submodule "impl/projects/xyna/src/app/xfm/acm"]
	path = impl/projects/xyna/src/app/xfm/acm
	url = https://github.com/Xyna-Factory/xyna-xacm.git
[submodule "impl/projects/xyna/src/app/xfm/yggdrasil"]
	path = impl/projects/xyna/src/app/xfm/yggdrasil
	url = https://github.com/Xyna-Factory/xyna-yggdrasil.git
