<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>@@TEMPLATE_APP_TITLE</display-name>

    <servlet>
        <description>@@TEMPLATE_APP_TITLE</description>
        <display-name>@@TEMPLATE_APP_TITLE</display-name>
        <servlet-name>@@TEMPLATE_APP_NAME</servlet-name>
        <jsp-file>/index.html</jsp-file>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>@@TEMPLATE_APP_NAME</servlet-name>
        <url-pattern>/@@TEMPLATE_APP_NAME</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/</location>
    </error-page>

    <!-- security-constraint> <web-resource-collection> <web-resource-name>Automatic 
        SSL Forward</web-resource-name> <url-pattern>/*</url-pattern> </web-resource-collection> 
        <user-data-constraint> <transport-guarantee>CONFIDENTIAL</transport-guarantee> 
        </user-data-constraint> </security-constraint> <error-page> <error-code>400</error-code> 
        <location>/error.html</location> </error-page> <error-page> <error-code>401</error-code> 
        <location>/error.html</location> </error-page> <error-page> <error-code>403</error-code> 
        <location>/error.html</location> </error-page> <error-page> <error-code>404</error-code> 
        <location>/error.html</location> </error-page> <error-page> <error-code>500</error-code> 
        <location>/error.html</location> </error-page -->
</web-app>
